@model  MVC_4._6_for_learning.Employee
@{
    ViewBag.Title = "Details";
}

<h2>Particular Employee Details</h2>

<hr />

<p><strong>Name:</strong> @Model.Empname</p>
<hr />
<p><strong>Email:</strong> @Model.Email</p>
<hr />
<p><strong>Age:</strong> @Model.Age</p>
<hr />
<p><strong>Salary:</strong> @Model.Salary</p>
<hr />
<p><strong>EMP ID:</strong> @Model.Id</p>
<hr />


<p><a href="/EMP/Index"> Back To List</a></p>